body {
  background-color: hsl(47, 88%, 63%, 1.00);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  border: 1px solid black;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: center;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
}

.card h1{
  background-color: hsl(47, 88%, 63%, 1.00);
  padding: 5px;
  font-size: 13px;
  border-radius: 4px;
  width: 80px;
  font-family: Arial, Helvetica, sans-serif
}

.card h2{
  font-size: 11px;
  text-align: left;
  font-family: arial;
}

.card h3{
  color: hsl(47, 88%, 63%, 1.00);
  font: arial;
  text-align: left;
}

.card p{
  font-size: 16px;
  text-align: left;
  font-family: "Figtree", sans-serif;
}

#foto {
  align-items: left;
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.name {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.Avatar {
  display: flex;
  align-items: center;

}